@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&display=swap');

:root {
    --primary-color: rgb(230, 83, 60);
    --secondary-color: rgb(255, 255, 255);
    --third-color: rgba(255, 255, 255, 0.5);
    --fourth-color: rgba(255, 255, 255, 0.6);
}

body {
    margin: 0px;
    font-family: Inter;
    background-color: black;
}

#header {
    /* max-width: 1440px; */
    margin: 0px auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.nav-bar {
    padding: 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options>ul {
    padding: 4px 20px 4px 4px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    font-family: Inter;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1.2em;
}

#band-name {
    color: var(--primary-color);
    font-family: Inter;
    font-weight: 800;
    font-size: 2.5em;
}

#home {
    background-color: var(--primary-color);
    border-radius: 46px;
    padding: 8px 20px;
}

.hero-section {
    display: flex;
    margin: 10px 210px 0px 190px;
    gap: 10px;
    align-items: center;
}

h1 {
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0.3em 0em;
}

h2 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    margin: 0.3em 0em 0.6em 0em;
    color: var(--fourth-color);
    font-size: 1rem;
}

.hero-section {
    display: flex;
    gap: 200px;
    margin: 0px 214px 0px 190px;
}

#shape {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
}

#circle {
    background-color: var(--primary-color);
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.critical-image {
    width: calc(100% - 200px- 50%);
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 2px solid tomato */
}


#three-hundred-plus {
    position: absolute;
    margin-left: -110px;
    margin-top: 420px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 5px 10px;
    width: 160px;
}




#five-hundred-plus {
    position: absolute;
    margin-left: 230px;
    margin-top: 142px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 20px;
    width: 170px;

}


.overview {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headings {
    font-size: 3rem;
    font-weight: 900;
}

.buttons {
    display: flex;
    gap: 10px;
}

.hero, #join-now, #calculate {
    background-color: var(--primary-color);
    border-radius: 42px;
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 600;
    padding: 16px 40px;
    border: none;
}

.hero + .download {
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
}


.main-section {
    margin: 0px 198px;
}

.change-habit {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.key-points {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.take-challange {
    display: flex;
    gap: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.challange {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 40px;
}

#join-now, #calculate {
    width: 50%;
}

.challange-image {
    width: calc(100% - 45% - 140px);
}

.challange-image>img {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 30px;
    padding: 15px;
}

.intro>#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.key-points>#movement,
#time,
#practise,
#weight-loss {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    gap: 10px;
}

.key-image {
    border-radius: 50%;
}

.training-exercise {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

.exercise-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.image-container {
    position: relative;
    height: 220px;
}


.image1 {
    background: url(images/exercise1.jpg), rgba(6, 255, 210, 0.5);
    background-size: cover;
    background-blend-mode: multiply; 
    grid-column: span 3;
}


.image2 {
    background: url(images/exercise2.png), rgba(255, 0, 0, 0.3);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column: span 5;
}

.image3 {
    background: url(images/exercise3.png), rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column: span 4;
}

.image4 {
    background: url(images/exercise4.png), rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column: span 5;
}
.image5 {
    background: url(images/exercise5.jpg), rgba(66, 255, 0, 0.3);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column: span 3;
}

.image6 {
    background: url(images/exercise6.jpg), rgba(0, 71, 255, 0.3);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column: span 4;
}

#p1 {
    position: absolute;
    margin-top: 180px;
    margin-left: 20px;
    color:rgb(17, 17, 17);
}

#p2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}

#p3, #p5, #p6 {
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 30px;
    width: 50%;
}

#p4 {
    position: absolute;
    color: white;
    margin-left: 280px;
    margin-top: 30px;
    width: 50%;
}


#bmi-calculator {
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 50px;
}

.calculator-section{
    position: relative;
    margin: 0px -198px;
    display: flex;
    gap: 150px;
    padding: 40px 198px;
    background: rgb(34, 34, 34);
}

.bmi-chart {
    width: 30%;
}

.calculation-part{
    width: calc(100% - 30% - 150px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

table {
    margin-top: 30px;;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    text-align: left;
    padding: 15px;
}

td {
    color: var(--third-color);
}

.bmi-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#height, #weight, #age {
    color: var(--third-color);
    font-size: 1rem;
    padding: 10px 20px;
    grid-column: span 6;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 5px;
}

#height, #age {
    margin-right: 5px;
}

#sex {
    grid-column: span 6;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    padding: 5px 20px;

}

#activity-factor {
    grid-column: span 12;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    padding: 10px 20px;
}

#activity, #segs {
    width: 100%;
    background: none;
    border: none;
    color: var(--third-color);
    font-size: 1rem;
}

option {
    color: black
}


#trainer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0px;
    place-items: center;
}

.trainer-container{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    height: 400px;
}

.trainer1 {
    background: url(images/trainer1.png), rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column: span 4;
    border-radius: 18px;
}

.trainer2 {
    background: url(images/trainer2.png), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    grid-column: span 4;
    border-radius: 18px;
}
.trainer3 {
    background: url(images/trainer3.png), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    grid-column: span 4;
    border-radius: 18px;
}
.trainer4 {
    background: url(images/trainer4.png), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    grid-column: span 4;
    border-radius: 18px;
}

.trainer5 {
    background: url(images/trainer5.png), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    grid-column: span 4;
    border-radius: 18px;
}

.trainer6 {
    background: url(images/trainer6.png), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    grid-column: span 4;
    border-radius: 18px;
}


.trainer1, .trainer2, .trainer3, .trainer4, .trainer5, .trainer6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
}

.footer-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px 198px 20px 198px;
}


#footer-paragraph {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.flex-container {
    display: flex;
    margin-bottom: 30px;
}

.gym-fitness {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding-right: 100px;
}

.get-started {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.get1, .get2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}